<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventaire</title>
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
   <h1>Inventaire</h1>
   <div class="inventory-fusils">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
   </div>

   <div class="inventory-shotguns">
    <div class="card"></div>
   <div class="card"></div>
</div>

<div class="inventory-revolvers">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
</div>

<div class="inventory-automatico">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
</div>

<div class="inventory-divers">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
</div>

<div class="inventory-explosifs">
    <div class="card"></div>
    <div class="card"></div>
</div>

</body>
</html>